
.form{
    background-image:url("../../assets/backgroundblue.png"); 
}

.col-lg-7{
    margin: auto;
}
body{ 
    width:100vw;
    height: 100vh; 
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-image:url("../../assets/backgroundblue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
    font-size: 20px;
     text-align: center;
}
h2{
    font-size: 15px;
  
}

.btn1{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color:black;
} 
