<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6 offset-md-3">
    <p>create-Transaction</p>
    <form action="#" th:action="@{/transaction/save}" th:object="${transaction}" method="post">

        <div class="form-group">
            <label>Product ID</label>
            <input type="hidden" th:field="*{transaction.id}" class="form-control"></td>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="text" th:field="*{transaction.date}" class="form-control"></td>
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" th:field="*{transaction.transactionType}" class="form-control"></td>
        </div>
        <div class="form-group">
            <label>Amount $</label>
            <input type="text" th:field="*{transaction.amount}" class="form-control"></td>
        </div>

        <button class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit">Save Product</button>
    </form>
</div>

</body>
</html>